<div class="page-header">
  <h1>Tasks</h1>
</div>

<div class="row table-header">
  <div class="col-md-2">Created At</div>
  <div class="col-md-2">Title</div>
  <div class="col-md-3">Description</div>
  <div class="col-md-2">Project Related</div>
  <div class="col-md-2">Date</div>
  <div class="col-md-1"></div>
</div>
<hr>
<% @tasks.each do |task| %>
  <div class="row">
    <div class="col-md-2"><%= task.created_at.strftime("%F") %></div>
    <div class="col-md-2"><%= link_to task.title, edit_task_path(task)  %></div>
    <div class="col-md-3"><%= truncate(strip_tags(task.description), length: 80) %></div>
    <div class="col-md-2"><%= task.project.title %></div>
    <div class="col-md-2"><%= task.date %></div>
    <div class="col-md-1">
      <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

<br>
<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>
