<div class="page-header">
	<h1>Project: <%= @project.title %></h1>
</div>

<div class="row">
  <div class="col-md-6">
  	<h3>Edit</h3>
  	<%= render 'form' %>
  </div>
  <div class="col-md-6">
  	<h3>Related Tasks</h3>
  		<% if @project.tasks.present? %>
  		  <% @project.tasks.each do |task| %>
  		  	<p><strong><%= link_to task.title, task %></strong></p>
  		  	<p><%= task.description %><br>
  		  	Date: <%= task.created_at.strftime("%F") %></p>
  		  	<hr>
  		  <% end %>
  		<% else %>
  			<p>No related tasks.</p>
  		<% end %>
  </div>
</div>
<br>


<%= link_to 'Back', pages_dashboard_path %>